<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="res/css/bootstrap.css">
        <link href="res/css/main.css" rel="stylesheet" type="text/css">
        <link href="res/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="width:10%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img height="20" alt="Brand" src="res/img/LOGO%20PAL%20INDONESIA.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding-top:10px;">
                            <img src="res/img/profile/no-photo.png" width="30" height="30">
                        </li>
                        <li class="active">
                            <a href="#">Akun</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                    <form class="navbar-form" role="search">
                        <div class="form-group" style="display: inline-table;width:70%;">
                            <div class="input-group" style="width:100%;">
                                <input type="text" class="form-control no-radius" placeholder="Pencarian Kartu Nama">
                                <span class="input-group-addon top-bars btn-default" style="padding:0;">
                                    <input type="submit" class="btn btn-xs btn-link" id="inputEmail3" value="Cari" style="width:100%;margin:0; color:#000;">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="section first">
            <div class="container">
                <!--[if lt IE 9]>
                <div class="alert alert-dismissible alert-warning" style="color:black;">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Browser Anda Tidak Disupport !!</h4>
                <p>Browser anda terlalu
                <strong>Tua</strong>dan tidak mendukung secara maksimal fitur dari
                <strong>HTML5</strong>, silahkan menggunakan browser terbaru atau gunakan browser
                <strong>Google Chrome, Mozila Firefox, Opera atau Safari</strong>demi kemyamanan
                anda menggunakan aplikasi ini.</p>
                <p>Beberapa fitur tidak dapat ditampilkan secara maksimal jika anda tetap
                menggunakan browser ini</p>
                </div>
                <![endif]-->
                <div class="box box-header hidden-sm hidden-xs row">
                    <div class="col-md-4 no-padding-right">
                        <h2>{{lala}}Perusahaan</h2>
                        <p class="box-inner">Pilih daftar kartu nama dengan kriteria perusahaan yang terdapat disamping.</p>
                        <div class="btn-group btn-group-justified btn-group-xs hidden-sm hidden-xs" data-toggle="buttons">
                            <a href="#" class="active btn btn-default no-radius" data-toggle="button">Perusahaan</a>
                            <a href="#" class="btn btn-default  no-radius" data-toggle="button">Jabatan</a>
                            <a href="#" class="btn btn-default  no-radius" data-toggle="button">Negara/Kota</a>
                            <a class="btn btn-default  no-radius" data-toggle="button">Kategori</a>
                        </div>
                    </div>
                    <div class="col-md-8 hidden-sm hidden-xs">
                        <div class="col-md-3">
                            <ul class="list-group text-left">
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="list-group text-left">
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="list-group text-left">
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="list-group text-left">
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-link no-padding-top no-padding-bottom">Cras justo odio</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="pager pull-right no-margin-top">
                            <li class="">
                                <a href="" class="no-radius" style="padding: 3px 5px 1px;">← Sebelumnya</a>
                            </li>
                            <li class="">
                                <a href="" class="no-radius" style="padding: 3px 5px 1px;">Selanjutnya →</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section thick">
            <div class="container">
                <div class="row">
                    <div style="float:left; padding-right:10px;">
                        <div class="btn-group btn-group-sm btn-short-by">
                            <a class="btn btn-primary" href="#"> Baru</a>
                        </div>
                        <div class="btn-group btn-group-sm btn-short-by" style="">
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Dropdown <span class="mdi mdi-chevron-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="width:100%;" class="">
                        <ul class="breadcrumb no-margin-bottom">
                            <li>
                                <a href="#">Semua Kartu Nama</a>
                            </li>
                            <li>
                                <a href="#">Pencarian</a>
                            </li>
                            <li class="active hidden-sm hidden-xs">Sri</li>
                            <li class="active hidden-sm hidden-xs">Sales Marketing</li>
                            <li class="active hidden-sm hidden-xs">Thales Netherland</li>
                            <li class="active hidden-sm hidden-xs">Hengelo</li>
                            <li class="active hidden-sm hidden-xs">Belanda</li>
                            <li class="active hidden-sm hidden-xs">Kenalan</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section thick  hidden-sm hidden-xs">
            <div class="container">
                <div class="row box box-search">
                    <div class="col-md-12 hidden-sm hidden-xs no-padding-left no-padding-right no-padding-bottom">
                        <div class="form-group col-md-11  no-padding-bottom no-margin-bottom">
                            <div class="col-md-3 no-padding-left no-padding-right">
                                <div class="input-group no-radius">
                                    <span class="input-group-addon no-radius">Perusahaan</span>
                                    <input type="text" class="form-control no-radius" />
                                </div>
                            </div>
                            <div class="col-md-3 no-padding-left no-padding-right">
                                <div class="input-group no-radius limiter">
                                    <span class="input-group-addon no-radius">Jabatan</span>
                                    <input type="text" class="form-control no-radius">
                                </div>
                            </div>
                            <div class="col-md-3 no-padding-left no-padding-right">
                                <div class="input-group no-radius limiter">
                                    <span class="input-group-addon no-radius">Negara/Kota</span>
                                    <input type="text" class="form-control no-radius">
                                </div>
                            </div>
                            <div class="col-md-3 no-padding-left no-padding-right">
                                <div class="input-group no-radius limiter">
                                    <span class="input-group-addon no-radius">Kategori</span>
                                    <input type="text" class="form-control no-radius">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 no-padding-left">
                            <input type="submit" class="form-control no-radius btn btn-primary" id="inputEmail3" value="Cari">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" style="margin-top:20px;">
            <div class="container">
                <div class="row box box-cards">
                    <div class="col-md-12">
                        <ul class="media-list">
                            <li class="media media-cards">
                                <a class="pull-left" href="#">
                                    <img src="data/wika_media%20dinamika_surabaya.jpg" width="200">
                                </a>
                                <div class="media-body row">
                                    <div class="col-md-6" style="height:130px;">
                                        <h4 class="media-heading"><b>Sri Hariani Eko Wulandari</b></h4>
                                        <h5 class="media-heading">Lecturer</h5>
                                        <h5 class="media-heading"><b>STIKOM Surabaya</b></h5>
                                        <h5 style="position: absolute;bottom: 0;word-wrap: break-word;"> Raya Kedung Baruk 98, Surabaya, Indonesia</h5>
                                    </div>
                                    <div class="col-md-5 text-right" style="height:130px;">
                                        <h5 class="media-heading">Lecturer</h5>
                                        <h5 class="media-heading">Lecturer</h5>
                                        <h5 class="media-heading">Lecturer</h5>
                                        <h5 class="media-heading">Lecturer</h5>
                                        <h5 class="media-heading">Lecturer</h5>
                                    </div>
                                    <div class="col-md-1 text-right no-padding-right no-margin-right" style="height:130px;">
                                        <div class="[ form-group ]">
                                            <input type="checkbox" name="fancy-checkbox-primary" id="fancy-checkbox-primary" autocomplete="off" />
                                            <div class="[ btn-group btn-group-xs ]">
                                                <label for="fancy-checkbox-primary" class="[ btn btn-default ]">
                                                    <span class="[ glyphicon glyphicon-ok ]"></span>
                                                    <span>Pilih</span>
                                                </label>
                                            </div>
                                            <a href="#" class="btn btn-primary btn-xs no-margin-right" style="float:right; width:42px;">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <hr style="margin-bottom:5px;">
                <div class="row">
                    <div style="float:left;">
                        <div class="btn-group btn-group-sm btn-short-by">
                            <a class="btn btn-danger" href="#"> Hapus</a>
                        </div>
                        <div class="btn-group btn-group-sm btn-short-by">
                            <a class="btn btn-primary hidden-xs" href="#"> Cetak</a>
                        </div>
                        <span style="padding-left:10px;">Daftar Kartu Nama <strong>1</strong> - <strong>10</strong> dari <strong>200</strong> </span>
                    </div>
                    <div style="float:right;">
                        <ul class="pagination no-margin-top">
                            <li>
                                <a href="#" class="no-radius">Prev</a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#" class="no-radius">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="res/js/html5shiv.js"></script>
        <script src="res/js/respond.js"></script>
        <![endif]-->
        <script type="text/javascript" src="res/js/jquery.min.js"></script>
        <script type="text/javascript" src="res/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="res/js/mustache.min.js"></script>
    </body>
</html>
