<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="res/css/bootstrap.css">
        <link href="res/css/main.css" rel="stylesheet" type="text/css">
        <link href="res/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="width:10%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img height="20" alt="Brand" src="res/img/LOGO%20PAL%20INDONESIA.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right" style="width:20%;">
                        <li style="padding-top:10px;">
                            <img src="res/img/profile/no-photo.png" width="30" height="30">
                        </li>
                        <li class="active">
                            <a href="#">Akun</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                    <form class="navbar-form" role="search">
                        <div class="form-group" style="display: inline-table;width:70%;">
                            <div class="input-group" style="width:100%;">
                                <input type="text" class="form-control no-radius" placeholder="Pencarian Kartu Nama">
                                <span class="input-group-addon top-bars btn-default" style="padding:0;">
                                    <input type="submit" class="btn btn-xs btn-link" id="inputEmail3" value="Cari" style="width:100%;margin:0; color:#000;">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="section avoid-navbar">
            <div class="container">
                <div class="row box">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <!--[if (gte IE 9)|!(IE)]><!-->
                        <div data-spy="affix" data-offset-top="60" style="height: 500px;margin-top:10px;">
                            <!--<![endif]-->
                            <!--[if lt IE 9]>
                            <div class="col-md-5" style="height: 500px; width:500px; position: fixed; top: 12%; border: 1px solid gray;">
                            <![endif]-->
                            <div style="width:100%;">
                                <legend>Kartu Nama</legend>
                                <!--[if (gte IE 9)|!(IE)]><!-->
                                <iframe width="100%" height="75%" src="data/img007.pdf#view=fitH">
                                    <h1>Tempat Kartu Nama</h1>
                                </iframe>
                                <!--<![endif]-->
                                <!--[if lt IE 9]>
                                <embed width="100%" height="400" src="data/img007.pdf"></embed>
                                <![endif]-->
                                <div class="form-horizontal" style="padding-top:10px;">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label for="inputEmail3" class="control-label">File Kartu Nama</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="file" class="form-control no-radius lightblack-border" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12" style="padding-top:10px;">
                        <!--[if lt IE 9]>
                        <div class="alert alert-dismissible alert-warning" style="color:black;">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>Browser Anda Tidak Disupport !!</h4>
                        <p>Browser anda terlalu
                        <strong>Tua</strong>dan tidak mendukung secara maksimal fitur dari
                        <strong>HTML5</strong>, silahkan menggunakan browser terbaru atau gunakan browser
                        <strong>Google Chrome, Mozila Firefox, Opera atau Safari</strong>demi kemyamanan
                        anda menggunakan aplikasi ini.</p>
                        <p>Beberapa fitur tidak dapat ditampilkan secara maksimal jika anda tetap
                        menggunakan browser ini</p>
                        </div>
                        <![endif]-->
                        <div class="form-horizontal">
                            <fieldset>
                                <legend>Informasi Dasar</legend>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputEmail3" class="control-label">Nama Lengkap</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputEmail3" placeholder="Jhon Doe" tabindex="1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Jabatan</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="Sales Marketing" tabindex="2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Perusahaan</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="PT. ABC" tabindex="3">
                                    </div>
                                </div>
                                <legend>Informasi Kontak</legend>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Nomor Telepon</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="0317685002" tabindex="4">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Nomor Hp</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="083838685002" tabindex="5">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Nomor Fax</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="0317685002" tabindex="6">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Alamat Email</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="JhonDoe@exaple.com" tabindex="7">
                                    </div>
                                </div>
                                <legend>Informasi Alamat</legend>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Website</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="www.exaple.com" tabindex="8">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Alamat</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <textarea class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="Exaple street 32 685240" tabindex="9"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Kota</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="Surabaya" tabindex="10">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Negara</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="Indonesia" tabindex="11">
                                    </div>
                                </div>
                                <legend>Informasi Lain</legend>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Kategori</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="Kenalan" tabindex="11">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="control-label">Catatan</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <textarea class="form-control no-radius lightblack-border" id="inputPassword3" placeholder="Tulis sesuatu disini sesuai kebutuhan" tabindex="9"></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                        <a class="btn btn-default">Batal</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="res/js/html5shiv.js"></script>
        <script src="res/js/respond.js"></script>
        <![endif]-->
        <script type="text/javascript" src="res/js/jquery.min.js"></script>
        <script type="text/javascript" src="res/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="res/js/mustache.min.js"></script>
        <script>
            $(function() {
                var $affixElement = $('div[data-spy="affix"]');
                $affixElement.width($affixElement.parent().width());
            });
        </script>
    </body>
</html>
