<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="res/css/bootstrap.css">
        <link href="res/css/main.css" rel="stylesheet" type="text/css">
        <link href="res/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="width:10%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img height="20" alt="Brand" src="res/img/LOGO%20PAL%20INDONESIA.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right" style="width:20%;">
                        <li style="padding-top:10px;">
                            <img src="res/img/profile/no-photo.png" width="30" height="30">
                        </li>
                        <li class="active">
                            <a href="#">Akun</a>
                        </li>
                        <li>
                            <a href="#">Keluar</a>
                        </li>
                    </ul>
                    <form class="navbar-form" role="search">
                        <div class="form-group" style="display: inline-table;width:70%;">
                            <div class="input-group" style="width:100%;">
                                <input type="text" class="form-control no-radius" placeholder="Pencarian Kartu Nama">
                                <span class="input-group-addon top-bars btn-default" style="padding:0;">
                                    <input type="submit" class="btn btn-xs btn-link" id="inputEmail3" value="Cari" style="width:100%;margin:0; color:#000;">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="section avoid-navbar">
            <div class="container">
                <!--[if lt IE 9]>
                <div class="alert alert-dismissible alert-warning" style="color:black;">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Browser Anda Tidak Disupport !!</h4>
                <p>Browser anda terlalu
                <strong>Tua</strong>dan tidak mendukung secara maksimal fitur dari
                <strong>HTML5</strong>, silahkan menggunakan browser terbaru atau gunakan browser
                <strong>Google Chrome, Mozila Firefox, Opera atau Safari</strong>demi kemyamanan
                anda menggunakan aplikasi ini.</p>
                <p>Beberapa fitur tidak dapat ditampilkan secara maksimal jika anda tetap
                menggunakan browser ini</p>
                </div>
                <![endif]-->
                <div class="row box">
                    <div class="col-md-3 col-sm-4 col-xs-12" style="padding-top:10px;">
                        <legend>Foto</legend>
                        <div class="col-xs-12" style="background-color: #f7f7f7; padding-top:20px;">
                            <img src="res/img/profile/no-photo.png" style="max-width:100%;width:100%;height:auto;">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" style="background-color: #f7f7f7; padding-top:10px;">
                                <button class="btn btn-primary btn-group col-sm-12">Ganti Foto</button>
                            </div>
                        </div>
                        <div class="col-sm-12" style="background-color: #f7f7f7; ">
                            <p class="text-muted text-center"><small>Besar file maksimal <strong>1 MB</strong>, Ekstensi yang diperbolehkan: <strong>.JPG .JPEG .GIF .PNG</strong></small></p>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12" style="padding-top:10px;">
                        <div class="form-horizontal">
                            <fieldset>
                                <legend>Biodata</legend>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label for="inputEmail3" class="control-label">Username</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputEmail3" value="Jhon Doe" tabindex="1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label for="inputEmail3" class="control-label">Nama Lengkap</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputEmail3" value="Jhon Doe" tabindex="2">
                                    </div>
                                </div>
                                <legend>Kontak</legend>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label for="inputPassword3" class="control-label">Email</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control no-radius lightblack-border" id="inputPassword3" value="lala@mail.com" tabindex="3" readonly>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-group col-sm-12">Ganti Email</button>
                                    </div>
                                </div>
                                <legend>Keamanan</legend>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label for="inputPassword3" class="control-label">Password</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control no-radius lightblack-border" id="inputPassword3" value="083838685002" tabindex="4" readonly>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-group col-sm-12">Ganti Password</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label for="inputPassword3" class="control-label">Hak Akses</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control no-radius lightblack-border" id="inputPassword3" value="Hanya Baca" tabindex="5" readonly>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-group col-sm-12">Ganti Hak</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Simpan Perubahan</button>&nbsp;
                                        <a class="btn btn-default">Batal</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="res/js/html5shiv.js"></script>
        <script src="res/js/respond.js"></script>
        <![endif]-->
        <script type="text/javascript" src="res/js/jquery.min.js"></script>
        <script type="text/javascript" src="res/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="res/js/mustache.min.js"></script>   
    </body>
</html>