<!DOCTYPE html>
<html>
    <head>
        <base href="{{root_uri}}"><!--[if lte IE 6]></base><![endif]-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/assets/css/bootstrap.css">
        <link href="public/assets/css/main.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/bootstrap-tagsinput.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">
                        <img height="20" alt="Brand" src="public/assets/img/LOGO%20PAL%20INDONESIA.png">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#">Bantuan</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section" style="padding-top:80px">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-login">
                        <h1 class="text-center">PENDAFTARAN</h1>
                        <h5 class="text-center">Selamat datang di Aplikasi Manajemen Kartu Nama.</h5>
                        <h5 class="text-center">Silahkan isi seluruh informasi di bawah ini</h5>
                        <hr>
                        <form class="form-horizontal" method="post" action="doregister">
                            <div class="form-group has-feedback">
                                <div class="col-sm-2">
                                    <label for="inputEmail3" class="control-label">Username</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control lvalid exvalid-username" data-min="6" name="username" placeholder="Username" required>
                                </div>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <p class="help-block text-{{username.type}}"><small>{{username.message}}</small></p>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <div class="col-sm-2">
                                    <label for="inputEmail3" class="control-label">Email</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control exvalid-email" name="email" placeholder="Email" value="{{ready_email}}" {{# ready_email}} readonly {{/ ready_email}} required>
                                    {{# ready_group}}
                                    <input type="hidden" class="form-control exvalid-email" name="group_id" placeholder="Email" value="{{ready_group}}">
                                    {{/ ready_group}}
                                </div>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <p class="help-block text-{{email.type}}"><small>{{email.message}}</small></p>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <div class="col-sm-2">
                                    <label for="inputEmail3" class="control-label">Password</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control lvalid exvalid-password" data-min="6" name="password" placeholder="password" required></div>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <p class="help-block text-{{password.type}}"><small>{{password.message}}</small></p>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <div class="col-sm-2">
                                    <label for="inputEmail3" class="control-label">Ulang Password</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control exvalid-repassword" data-min="6" name="repassword" placeholder="password" required></div>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <p class="help-block text-{{repassword.type}}"><small>{{repassword.message}}</small></p>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <div class="col-sm-2">
                                    <label for="inputEmail3" class="control-label">Nama Lengkap</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nane" name="name" placeholder="Nama Lengkap" required></div>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <p class="help-block"><small>Mohon untuk menggunakan nama asli</small></p>
                                </div>
                            </div>
                            <hr>
                            <div class="alert alert-dismissible alert-info text-black">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <h4>Informasi Keamanan</h4>
                                <ul>
                                    <li>Harap tidak menginformasikan username dan password Anda kepada siapapun, termasuk pihak yang mengatasnamakan Divisi Teknologi PT. PAL Indoneisa.</li>
                                    <li>Untuk setiap email yang anda dapatkan dan mengatasnamakan Divisi Teknologi dan/atau Aplikasi Manajemen Kartu Nama ini, pastikan email pengirim menggunakan domain @pal.co.id</li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <button type="submit" class="btn btn-block btn-primary">Daftar</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8 text-center">
                                    <small class="text-muted">Sudah Punya Akun ?</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <a href="{{root}}page/login" class="btn btn-block btn-success">Login</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="hidden-sm hidden-xs section section-primary" style="background-color: #f8f8f8; border-width: 4px 1px 0 1px; border-color: #e7e7e7; margin-top:10px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Aplikasi Manajemen Kartu Nama</h2>
                        <p>
                            Aplikasi Manajemen Kartu Nama PT. PAL Indonesia, <br>
                            adalah aplikasi untuk mencatat dan mengelola data kartu nama, <br>
                            sehingga memudahkan pengguna untuk mencarinya
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br><br></p><div class="row">
                        <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        </div></div><div class="row"> <div class="col-md-12 hidden-xs text-right">
                        <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="public/assets/js/html5shiv.js"></script>
        <script src="public/assets/js/respond.js"></script>
        <![endif]-->
        <script type="text/javascript" src="public/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="public/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="public/assets/js/mustache.min.js"></script>
        {{=<% %>=}}
        <script id="validation" type="x-tmpl-mustache">
            <p class="help-block text-{{type}}"><small>{{message}}</small></p>
        </script>
        <%={{ }}=%>
        <script>
            $('.lvalid').on('keyup', function(){
                var parent = $(this).parent();
                var messaging = parent.next();
                var value = $(this).val();
                var vlength = $(this).val().length;
                if(vlength < $(this).data('min') && vlength != 0){
                    var validation = $('#validation').html();
                    Mustache.parse(validation);   // optional, speeds up future uses
                    var rendered = Mustache.render(validation, {type: "danger", message: "Minimal "+$(this).data('min')+" karakter" });
                    messaging.html(rendered);
                }else if(vlength >= $(this).data('min') && vlength != 0){
                    messaging.html('');
                }else{
                    messaging.html('');
                }
            });
            $('.exvalid-repassword').on('focusout', function(){
                var parent = $(this).parent();
                var messaging = parent.next();
                var value = $(this).val();
                var password = $('.exvalid-password').val();
                if(value != password){
                    var validation = $('#validation').html();
                    Mustache.parse(validation);   // optional, speeds up future uses
                    var rendered = Mustache.render(validation, {type: "danger", message: "Password tidak sama !!" });
                    messaging.html(rendered);
                }else{
                    messaging.html('');
                }
            });
            $('.exvalid-username').on('focusout',  function(){
                var parent = $(this).parent();
                var messaging = parent.next();
                var value = $(this).val();
                var vlength = $(this).val().length;
                if(vlength >= $(this).data('min')){
                    $.getJSON("check/username/"+value, {}, function(data){
                        var validation = $('#validation').html();
                        Mustache.parse(validation);   // optional, speeds up future uses
                        var rendered = Mustache.render(validation,{type: data.type, message: data.message});
                        messaging.html(rendered);
                    });
                }
            });
            $('.exvalid-email').on('focusout',   function(){
                var parent = $(this).parent();
                var messaging = parent.next();
                var value = $(this).val();
                $.getJSON("check/email/"+value, {}, function(data){
                    var validation = $('#validation').html();
                    Mustache.parse(validation);   // optional, speeds up future uses
                    var rendered = Mustache.render(validation,{type: data.type, message: data.message});
                    messaging.html(rendered);
                });
            });
        </script>
    </body>
</html>
